@charset "UTF-8";

/* 
Paleta de cores 
Preto Background: #0B0C10
Titulos:#FFFFFF
Paragrafos:#AEB1B7
botão 1:#1E90FF
Botão 1 hover:#104E8B
detalhes/links:#9D4EDD
Destaque/Erro:#FF4C4C
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}