@charset "UTF-8";

/* 
Paleta de cores 
Preto Background: #0B0C10
Titulos:#FFFFFF
Paragrafos:#AEB1B7
botão 1:#1E90FF
Botão 1 hover:#104E8B
detalhes/links:#9D4EDD
Destaque/Erro:#FF4C4C
*/

* {    
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-image: url(../imgs/pexels-alex-andrews-271121-821644.jpg);
    background-size: cover;
    color: #AEB1B7;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

fieldset#login-section {
    background-color: #0b0c10c8;
    border: white solid 1px;
    border-radius: 12px;
    height: 500px;
    width: 360px;
    box-shadow: 0px 0px 10px #000000;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

fieldset#login-section > div#image {
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: auto;
}

legend {
    display: block;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    font-family: "Passion One", sans-serif;
    font-size: 2em;
    font-weight: 700;
    font-style: normal;
}

fieldset#login-section > div#form {
    display: block;
    padding: 5px;
}
fieldset#login-section > div#form > p {
    font-size: 1.2em;
    padding-left: 20px;
    margin-bottom: 10px;
    color: white;
    text-shadow: #000000 0px 0px 5px;
}

form {
    background-color: rgba(240, 248, 255, 0.144);
    border-radius: 12px;
    padding: 10px;
}